bady {
    background-image: url(https://img.freepik.com/free-photo/hawaii-beach-landscape-with-nature-coastline_23-2151795041.jpg?t=st=1726136709~exp=1726140309~hmac=946cf08afca399d7e3ba3aa54c9e54a9cb72eed48056666f553078488575d4fc&w=1380);

    background-repeat: no-repeat;
    background-size: cover;
}

